/* taken from http://www.w3schools.com/css/css_tooltip.asp */
/* TODO: please build these styles in and remove the need for this... */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    pointer-events: none;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    /* width: 120px; */
    bottom: 115%;
    left: 0;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 20px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
